@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #213f61;
    display: flex;
    min-height: 100vh;
	height: 100vh;
	width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Bebas Neue', sans-serif;
	text-align: center;
}

.banner-h1 {
	color: #f4f4f4;
    font-size: 3rem;
    padding-top: 5vh;
	text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.row,
.col {
	padding: 0;
}

main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #5F9EA0;
}

.row .col {
    width: 100%;
}

.home-banner {
	background-image: url('../images/homebanner.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 30vh;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.19);
}
/*--Navigation bar--*/
    @media (min-width: 800px) and (max-width: 850px) {
            .navbar:not(.top-nav-collapse) {
                background: rgba(0, 0, 0, 0.562)!important;
            }
        }
.view,body,html{height:100%}.navbar{background-color:rgba(0, 0, 0, 0.562)}.top-nav-collapse{background-color:rgba(0, 0, 0, 0.562)}

/* home page */

.celebrate-heading {
	margin-top: 40px;
	margin-bottom: 40px;
}

.carousel {
	margin-top: 15px;
	margin-bottom: 40px;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.19);
}

.carousel-item {
	height: 40vh;
}

.carousel-item img {
    width: 100%; 
    object-fit: cover;
}

/* about page */

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px; 
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-back {
    background-color: #caffbf;
    transform: rotateY(180deg);
    border-radius: 50%;
    padding: 30px 30px;
}

.column {
    float: left;
    padding: 15px 15px;
}

.profile {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
 .about-content {
     padding: 50px 50px;
 }

 .about.title {
    width: 100%;
}

 .connect {
     color: #bdb2ff;
     text-transform: uppercase;
 }
 .connect a{
     color: #ffc6ff;
     padding: 5px 5px;
 }

 /* Programme page */

 .schedule {
	font-weight: bold;
	font-size: 150%;
	text-transform: uppercase;
	text-align: center;
	margin-top: 100px;
	width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgb(0 0 0 / 19%);
	padding: 50px 25px;
 }

/* Testimonials Styling */

.testimonial-banner {
	background-image: url('../images/testimonialsimg.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 30vh;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.19);
}

.testimonial-box, .about-box{
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
	margin: 20px 0 30px 0;
}

.testimonial-img {
	height: 100%;
	padding: 0;
	overflow: hidden;
    position: relative;
}

.testimonial-img>img {
    display: block;
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
}

.testimonial-content, .about-content {
	width: 100%;
}

.testimonial-title {
	width: 100%;
}

/* Contact us form*/

.contact-banner {
	background-image: url('../images/contactbanner.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 30vh;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.19);
}

.contact-us-container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.contact-us-container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}

.contact-box{
	min-height: 500px;
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
}

.left{
	background: url("../images/contactusimg.jpeg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: #BBD5D6;
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #5F9EA0;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #99C0C2;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

/* Programme */
.programme-banner {
	background-image: url('../images/programmebanner.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 30vh;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.19);
}

/*--Footer--*/
footer{
    right: 0;
    bottom: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 100%;
}

.footer-container p {
  text-align: center;
}

.social-links li i {
  justify-items: center;
}

#social-col{
    align-content: flex-center; 
        text-align: center; 
        -ms-flex-line-pack: center; 
}

/*--Social media icons--
*/
.fab{
    font-size: 40px;
    padding-top: 10px;
    color: black;
}

.fab:hover {
    color: #99C0C2;
}


/* Media Queries */

@media (min-width: 1140px) {
	.carousel-item img {
		width: 100%;
		object-fit: cover;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

@media (max-width: 576px) {
	.flex-col-reverse {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

	.contact-us-container {
		padding: 20px 0;
	}

	.banner-h1 {
		padding-top: 10vh;
	}

	.carousel-item {
		height: 30vh;
	}
}


