{% extends 'base.html' %}

{% block content %}
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, iste delectus. Dignissimos iusto, est, reprehenderit laudantium at repudiandae consectetur doloremque odit.</p>

    <!-- flip cards-->
    <div class="row">
        <div class="column">
        <div class="flip-card">
        <div class="flip-card-inner">
        <div class="flip-card-front">
        <img class="profile-img" src="static/images/cythia.jpg">
        </div>
        <div class="flip-card-back">
        <h1>Cythia</h1>
        <h2>Head Guide</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Vel ad fugiat incidunt in, voluptate maxime illum doloremque? 
        </div>
        </div>
        </div>
        </div>

        <div class="column">
        <div class="flip-card">
        <div class="flip-card-inner">
        <div class="flip-card-front">
        <img class="profile-img" src="static/images/caitlyn.jpg">
        </div>
        <div class="flip-card-back">
        <h1>Caitlyn</h1>
        <h2>Head Activities</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Vel ad fugiat incidunt in, voluptate maxime illum doloremque? 
        </div>
        </div>
        </div>
        </div>

        <div class="column">
        <div class="flip-card">
        <div class="flip-card-inner">
        <div class="flip-card-front">
        <img class="profile-img" src="static/images/james.jpg">
        </div>
        <div class="flip-card-back">
        <h1>James</h1>
        <h2>Musician</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Vel ad fugiat incidunt in, voluptate maxime illum doloremque? 
        </div>
        </div>
        </div>
        </div>

        <div class="column">
        <div class="flip-card">
        <div class="flip-card-inner">
        <div class="flip-card-front">
        <img class="profile-img" src="static/images/diego.jpg">
        </div>
        <div class="flip-card-back">
        <h1>Diego</h1>
        <h2>.....</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Vel ad fugiat incidunt in, voluptate maxime illum doloremque? 
        </div>
        </div>
        </div>
        </div>


    </div>

{% endblock %}