{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, iste delectus. Dignissimos iusto, est, reprehenderit laudantium at repudiandae consectetur doloremque odit.</p>

   <!-- flip cards-->
    <div class="row">
        <div class="column"><div class="flip-card"><div class="flip-card-inner"><div class="flip-card-front">
        <img class="profile" src="static/images/cythia.jpg">
        </div>
        <div class="flip-card-back">
        <h2>Cythia</h2>
        <h3>UI/UX Specialist</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Vel ad fugiat incidunt in, voluptate maxime illum doloremque? 
       </div></div></div></div>

        <div class="column"><div class="flip-card"><div class="flip-card-inner"><div class="flip-card-front">
        <img class="profile" src="static/images/caitlyn.jpg">
        </div>
        <div class="flip-card-back">
        <h2>Caitlyn</h2>
        <h3>JavaScript Specialist</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Vel ad fugiat incidunt in, voluptate maxime illum doloremque? 
        </div></div></div></div>

        <div class="column"><div class="flip-card"><div class="flip-card-inner"><div class="flip-card-front">
        <img class="profile" src="static/images/james.jpg">
        </div>
        <div class="flip-card-back">
        <h2>James</h2>
        <h3>Robotica Specialist</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Vel ad fugiat incidunt in, voluptate maxime illum doloremque? 
        </div></div></div></div>

        <div class="column"><div class="flip-card"><div class="flip-card-inner"><div class="flip-card-front">
        <img class="profile" src="static/images/diego.jpg">
        </div>
        <div class="flip-card-back">
        <h2>Diego</h2>
        <h3>Java Specialist</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Vel ad fugiat incidunt in, voluptate maxime illum doloremque? 
        </div></div></div></div>

        <div class="column"><div class="flip-card"><div class="flip-card-inner"><div class="flip-card-front">
        <img class="profile" src="static/images/armin.jpg">
        </div>
        <div class="flip-card-back">
        <h2>Armin</h2>
        <h3>React Specialist</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Vel ad fugiat incidunt in, voluptate maxime illum doloremque? 
        </div></div></div></div>

        <div class="column"><div class="flip-card"><div class="flip-card-inner"><div class="flip-card-front">
        <img class="profile" src="static/images/romeo.jpg">
        </div>
        <div class="flip-card-back">
        <h2>Romeo</h2>
        <h3>Security Specialist</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Vel ad fugiat incidunt in, voluptate maxime illum doloremque? 
        </div></div></div></div>

        <div class="column"><div class="flip-card"><div class="flip-card-inner"><div class="flip-card-front">
        <img class="profile" src="static/images/dave.jpg">
        </div>
        <div class="flip-card-back">
        <h2>Dave</h2>
        <h3>AI Specialist</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Vel ad fugiat incidunt in, voluptate maxime illum doloremque? 
        </div></div></div></div>

        <div class="column"><div class="flip-card"><div class="flip-card-inner"><div class="flip-card-front">
        <img class="profile" src="static/images/joel.jpg">
        </div>
        <div class="flip-card-back">
        <h2>Joel</h2>
        <h3>Database Specialist</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Vel ad fugiat incidunt in, voluptate maxime illum doloremque? 
        </div></div></div></div>

        <div class="column"><div class="flip-card"><div class="flip-card-inner"><div class="flip-card-front">
        <img class="profile" src="static/images/rick.jpg">
        </div>
        <div class="flip-card-back">
        <h2>Rick</h2>
        <h3>Front-End Specialist</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Vel ad fugiat incidunt in, voluptate maxime illum doloremque? 
        </div></div></div></div>

        <div class="column"><div class="flip-card"><div class="flip-card-inner"><div class="flip-card-front">
        <img class="profile" src="static/images/john.jpg">
        </div>
        <div class="flip-card-back">
        <h2>John</h2>
        <h3>Python Specialist</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Vel ad fugiat incidunt in, voluptate maxime illum doloremque? 
        </div></div></div></div>

        <div class="column"><div class="flip-card"><div class="flip-card-inner"><div class="flip-card-front">
        <img class="profile" src="static/images/cloe.jpg">
        </div>
        <div class="flip-card-back">
        <h2>Cloe</h2>
        <h3>Bootstrap Specialist</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Vel ad fugiat incidunt in, voluptate maxime illum doloremque? 
        </div></div></div></div>


    </div>
</div>

{% endblock %}