{% extends 'base.html' %}

{% block content %}

    <div class="testimonial-banner">
        <div class="banner-header-box">
            <h1 class="banner-h1">About us</h1>
        </div>
    </div>

    <div class="container">
            <div class="about-box row">
                <div class="about-content">
                    <h2 class="about-title">We are the proud Pride in Coding Camp leaders</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, iste delectus. Dignissimos iusto, est, reprehenderit laudantium at repudiandae consectetur doloremque odit.</p>
                </div>
            </div>
    </div>


   <!-- flip cards-->
      <div class="container">
            <div class="about-box row">
                <div class="about-content">
                    <h2 class="about-title">Tap us to meet us</h2>

        <div class="column"><div class="flip-card"><div class="flip-card-inner"><div class="flip-card-front">
        <img class="profile" src="static/images/july.jpg">
        </div>
        <div class="flip-card-back">
        <h2>July</h2>
        <p>July is a solid developer with career highlights of working as a senior full-stack developer for a big data analytics startup.</p>
       </div></div></div></div>

        <div class="column"><div class="flip-card"><div class="flip-card-inner"><div class="flip-card-front">
        <img class="profile" src="static/images/caitlyn.jpg">
        </div>
        <div class="flip-card-back">
        <h2>Caitlyn</h2>
        <p>With over a decade of experience and millions of users served, 
            Caitlyn brings a deep understanding of software development principles and best practices to any project.</p>
        </div></div></div></div>

        <div class="column"><div class="flip-card"><div class="flip-card-inner"><div class="flip-card-front">
        <img class="profile" src="static/images/james.jpg">
        </div>
        <div class="flip-card-back">
        <h2>James</h2>
        <p>James is a .NET developer specializing in back-end layer development. He has over a decade of professional experience within banking, financial, and recruitment industries.</p>
        </div></div></div></div>

        <div class="column"><div class="flip-card"><div class="flip-card-inner"><div class="flip-card-front">
        <img class="profile" src="static/images/diego.jpg">
        </div>
        <div class="flip-card-back">
        <h2>Diego</h2>
        <p>Diego is a machine learning expert with 15 years of experience creating predictive solutions for business and scientific applications.</p>
        </div></div></div></div>

        <div class="column"><div class="flip-card"><div class="flip-card-inner"><div class="flip-card-front">
        <img class="profile" src="static/images/armin.jpg">
        </div>
        <div class="flip-card-back">
        <h2>Armin</h2>
        <p>Coding JS since armed forces days in 1997, Armin's experience in adapting web technology to meet customer needs is extensive.</p>
        </div></div></div></div>

        <div class="column"><div class="flip-card"><div class="flip-card-inner"><div class="flip-card-front">
        <img class="profile" src="static/images/romeo.jpg">
        </div>
        <div class="flip-card-back">
        <h2>Romeo</h2>
        <p>Romeo has years of experience in developing API services and us most comfortable using AioHTTP, SQLAlchemy (Alembic), and the PostgreSQL stack,</p>
        </div></div></div></div>

        <div class="column"><div class="flip-card"><div class="flip-card-inner"><div class="flip-card-front">
        <img class="profile" src="static/images/dave.jpg">
        </div>
        <div class="flip-card-back">
        <h2>Dave</h2>
        <p>Dave is a Theoretical Physicist with a strong background in C++, Python, and JavaScript programming. With deep experience in research-level software development.</p>
        </div></div></div></div>

        <div class="column"><div class="flip-card"><div class="flip-card-inner"><div class="flip-card-front">
        <img class="profile" src="static/images/joel.jpg">
        </div>
        <div class="flip-card-back">
        <h2>Joel</h2>
        <p>Joel is a full-stack architect with years of experience in developing high traffic multi-tenant SaaS applications.</p>
        </div></div></div></div>

        <div class="column"><div class="flip-card"><div class="flip-card-inner"><div class="flip-card-front">
        <img class="profile" src="static/images/rick.jpg">
        </div>
        <div class="flip-card-back">
        <h2>Rick</h2>
        <p>Rick is an experienced JavaScript developer, working with Angular, React, Node.js, and other technologies.</p> 
        </div></div></div></div>

        <div class="column"><div class="flip-card"><div class="flip-card-inner"><div class="flip-card-front">
        <img class="profile" src="static/images/john.jpg">
        </div>
        <div class="flip-card-back">
        <h2>John</h2>
        <p>John spent the last 16 years designing, and directing work for some of the world’s most exciting and forward-thinking brands.</p> 
        </div></div></div></div>

        <div class="column"><div class="flip-card"><div class="flip-card-inner"><div class="flip-card-front">
        <img class="profile" src="static/images/cloe.jpg">
        </div>
        <div class="flip-card-back">
        <h2>Cloe</h2>
        <p>Cloe is a full-stack engineer with six years of professional experience working on enterprise and startup projects.</p>
        </div></div></div></div>

        <div class="column"><div class="flip-card"><div class="flip-card-inner"><div class="flip-card-front">
        <img class="profile" src="static/images/cythia.jpg">
        </div>
        <div class="flip-card-back">
        <h2>Cynthia</h2>
        <p>Cynthia had been developing software and deploying solutions, and the expertise lies in Python, deep learning, NLP, chatbots</p>
        </div></div></div></div>

        </div>
    </div>
</div>

{% endblock %}