<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css') }}" type="text/css">
    <title>Pride in Coding</title>
</head>

<body>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <header>
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
            <div class="container">

                <!-- Brand -->
                <a class="logo" href="{{ url_for('home') }}"><img src="/static/images/pridelogohome.png" alt="Logo"
                        title="Logo" width="75" height="75" class="d-inline-block"></a>

                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item {{ 'active' if active_page == 'home' }}">
                            <a class="nav-link" href="{{ url_for('home') }}">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item {{ 'active' if active_page == 'about_us' }}">
                            <a class="nav-link" href="{{ url_for('about_us') }}">About Us</a>
                        </li>
                        <li class="nav-item {{ 'active' if active_page == 'programme' }}">
                            <a class="nav-link" href="{{ url_for('programme') }}">Programme</a>
                        </li>
                        <li class="nav-item {{ 'active' if active_page == 'testimonials' }}">
                            <a class="nav-link" href="{{ url_for('get_testimonials') }}">Testimonials</a>
                        </li>
                        <li class="nav-item {{ 'active' if active_page == 'contact_us' }}">
                            <a class="nav-link" href="{{ url_for('contact_us') }}">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


    </header>

    <main>
        {% block content %}



        {% endblock %}
    </main>

    <footer class="social-networks">
        <ul>
                <li><a class="pink" href="tel:123456789" target="_blank"><i class="fas fa-phone-alt"></i></a></li>
                <li><a class="green" href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a></li>
                <li><a class="purple" href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a class="yellow" href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a></li>
                <li><a class="blue" href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a class="orange" href="https://www.github.com" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a class="red" href="https://www.pinterest.com" target="_blank"><i class="fab fa-pinterest"></i></a></li>
            </ul>
        Pride In Coding | Copyright © 2021
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>
    <script src="{{ url_for ('static', filename='js/script.js') }}"></script>
</body>

</html>