{% extends 'base.html' %}
{% set active_page = 'programme' %}

{% block content %}

<div class="programme-banner">
    <div class="banner-header-box">
        <h1 class="banner-h1">Programme</h1>
    </div>
</div>

<div class="wrapper">
    <div class="center-line">
      <a href="#" class="scroll-icon"><i class="fas fa-caret-up"></i></a>
    </div>
    <div class="row row-1">
      <section>
        <i class="icon fa fa-coffee"></i>
        <div class="details">
          <span class="title">Introduction</span>
          <span>10:00-10:30</span>
        </div>
        <p>Join us for an intro call and meet everyone at the camp with a morning coffee and perhaps a slice of cake?</p>
      </section>
    </div>
    <div class="row row-2">
      <section>
        <i class="icon fa fa-laptop"></i>
        <div class="details">
          <span class="title">Lecture</span>
          <span>10:30-12:00</span>
        </div>
        <p>Learn about the Fundamentals of HTML, CSS, JavaScript or Python and understand coding from both a theoretical and practical point of view. </p>
      </section>
    </div>
    <div class="row row-1">
      <section>
        <i class="icon fa fa-cutlery"></i>
        <div class="details">
          <span class="title">Lunch Break</span>
          <span>12:00-02:00</span>
        </div>
        <p>Optional: Networking Call on Zoom at 12:30pm - great opportunity to meet like-minded peers for future collaborations!</p>
      </section>
    </div>
    <div class="row row-2">
      <section>
        <i class="icon fa fa-code"></i>
        <div class="details">
          <span class="title">Code Along</span>
          <span>02:00-03:00</span>
        </div>
        <p>Join us for a code along and build your very first coding project!</p>
      </section>
    </div>
    <div class="row row-1">
      <section>
        <i class="icon fas fa-paper-plane"></i>
        <div class="details">
          <span class="title">Challenges</span>
          <span>03:00-04:00</span>
        </div>
        <p>Pair up with your buddy for the day, and work on a series of programming challenges with the help of our teaching staff.</p>
      </section>
    </div>
    <div class="row row-2">
      <section>
        <i class="icon fa fa-heartbeat"></i>
        <div class="details">
          <span class="title">Yoga (Optional)</span>
          <span>04:00-05:00</span>
        </div>
        <p>Learning to code can be very intense. Join us for a Zoom Yoga class to relax and chill out after a long day of programming!</p>
      </section>
    </div>
  </div>

  <hr>
  <!-- project cards -->

  <div class="row project-row">
<div class="column">
<div class="project-card">
  <img src="rainbow-snake.jpg" alt="python" style="width:100%">
  <h1>Python Beginners</h1>
  <p>Python has an unmatched ecosystem of open source libraries that can help you achieve any goal you can think of. 
      However, if you have never done any programming before, learning your first programming language can feel 
      difficult or intimidating. We are here to get you right on track with Python in just one day!</p>
  <p>Working with real-world examples, you’ll: <br>
    - Understand how to install and use Python <br>
    - Understand the fundamental Python programming techniques and tools. <br>
    - Discover the history of Python and how it compares to other programming languages. <br>
    - Discuss its applications and the types of problems it can solve.e</p>
  <p><button class="project-button"><a href="https://www.eventbrite.com/" target="_blank">Ticket</a></button></p>
</div>
</div>
<div class="column">
<div class="project-card">
  <img src="rainbow-snake.jpg" alt="python" style="width:100%">
  <h1>Python Advanced</h1>
  <p>Python has an unmatched ecosystem of open source libraries that can help you achieve any goal you can think of. 
      However, if you have never done any programming before, learning your first programming language can feel 
      difficult or intimidating. We are here to get you right on track with Python in just one day!</p>
  <p>Working with real-world examples, you’ll: <br>
    - Understand how to install and use Python <br>
    - Understand the fundamental Python programming techniques and tools. <br>
    - Discover the history of Python and how it compares to other programming languages. <br>
    - Discuss its applications and the types of problems it can solve.e</p>
  <p><button class="project-button"><a href="https://www.eventbrite.com/" target="_blank">Ticket</a></button></p>
</div>
</div>
<div class="column">
<div class="project-card">
  <img src="rainbow-snake.jpg" alt="python" style="width:100%">
  <h1>Python Advanced</h1>
  <p>Python has an unmatched ecosystem of open source libraries that can help you achieve any goal you can think of. 
      However, if you have never done any programming before, learning your first programming language can feel 
      difficult or intimidating. We are here to get you right on track with Python in just one day!</p>
  <p>Working with real-world examples, you’ll: <br>
    - Understand how to install and use Python <br>
    - Understand the fundamental Python programming techniques and tools. <br>
    - Discover the history of Python and how it compares to other programming languages. <br>
    - Discuss its applications and the types of problems it can solve.e</p>
  <p><button class="project-button"><a href="https://www.eventbrite.com/" target="_blank">Ticket</a></button></p>
</div>
</div>
<div class="column">
<div class="project-card">
  <img src="rainbow-snake.jpg" alt="python" style="width:100%">
  <h1>Python Advanced</h1>
  <p>Python has an unmatched ecosystem of open source libraries that can help you achieve any goal you can think of. 
      However, if you have never done any programming before, learning your first programming language can feel 
      difficult or intimidating. We are here to get you right on track with Python in just one day!</p>
  <p>Working with real-world examples, you’ll: <br>
    - Understand how to install and use Python <br>
    - Understand the fundamental Python programming techniques and tools. <br>
    - Discover the history of Python and how it compares to other programming languages. <br>
    - Discuss its applications and the types of problems it can solve.e</p>
  <p><button class="project-button"><a href="https://www.eventbrite.com/" target="_blank">Ticket</a></button></p>
</div>
</div>
<div class="column">
<div class="project-card">
  <img src="rainbow-snake.jpg" alt="python" style="width:100%">
  <h1>Python Advanced</h1>
  <p>Python has an unmatched ecosystem of open source libraries that can help you achieve any goal you can think of. 
      However, if you have never done any programming before, learning your first programming language can feel 
      difficult or intimidating. We are here to get you right on track with Python in just one day!</p>
  <p>Working with real-world examples, you’ll: <br>
    - Understand how to install and use Python <br>
    - Understand the fundamental Python programming techniques and tools. <br>
    - Discover the history of Python and how it compares to other programming languages. <br>
    - Discuss its applications and the types of problems it can solve.e</p>
  <p><button class="project-button"><a href="https://www.eventbrite.com/" target="_blank">Ticket</a></button></p>
</div>
</div><div class="column">
<div class="project-card">
  <img src="rainbow-snake.jpg" alt="python" style="width:100%">
  <h1>Python Advanced</h1>
  <p>Python has an unmatched ecosystem of open source libraries that can help you achieve any goal you can think of. 
      However, if you have never done any programming before, learning your first programming language can feel 
      difficult or intimidating. We are here to get you right on track with Python in just one day!</p>
  <p>Working with real-world examples, you’ll: <br>
    - Understand how to install and use Python <br>
    - Understand the fundamental Python programming techniques and tools. <br>
    - Discover the history of Python and how it compares to other programming languages. <br>
    - Discuss its applications and the types of problems it can solve.e</p>
  <p><button class="project-button"><a href="https://www.eventbrite.com/" target="_blank">Ticket</a></button></p>
</div>
</div><div class="column">
<div class="project-card">
  <img src="rainbow-snake.jpg" alt="python" style="width:100%">
  <h1>Python Advanced</h1>
  <p>Python has an unmatched ecosystem of open source libraries that can help you achieve any goal you can think of. 
      However, if you have never done any programming before, learning your first programming language can feel 
      difficult or intimidating. We are here to get you right on track with Python in just one day!</p>
  <p>Working with real-world examples, you’ll: <br>
    - Understand how to install and use Python <br>
    - Understand the fundamental Python programming techniques and tools. <br>
    - Discover the history of Python and how it compares to other programming languages. <br>
    - Discuss its applications and the types of problems it can solve.e</p>
  <p><button class="project-button"><a href="https://www.eventbrite.com/" target="_blank">Ticket</a></button></p>
</div>
</div><div class="column">
<div class="project-card">
  <img src="rainbow-snake.jpg" alt="python" style="width:100%">
  <h1>Python Advanced</h1>
  <p>Python has an unmatched ecosystem of open source libraries that can help you achieve any goal you can think of. 
      However, if you have never done any programming before, learning your first programming language can feel 
      difficult or intimidating. We are here to get you right on track with Python in just one day!</p>
  <p>Working with real-world examples, you’ll: <br>
    - Understand how to install and use Python <br>
    - Understand the fundamental Python programming techniques and tools. <br>
    - Discover the history of Python and how it compares to other programming languages. <br>
    - Discuss its applications and the types of problems it can solve.e</p>
  <p><button class="project-button"><a href="https://www.eventbrite.com/" target="_blank">Ticket</a></button></p>
</div>
</div><div class="column">
<div class="project-card">
  <img src="rainbow-snake.jpg" alt="python" style="width:100%">
  <h1>Python Advanced</h1>
  <p>Python has an unmatched ecosystem of open source libraries that can help you achieve any goal you can think of. 
      However, if you have never done any programming before, learning your first programming language can feel 
      difficult or intimidating. We are here to get you right on track with Python in just one day!</p>
  <p>Working with real-world examples, you’ll: <br>
    - Understand how to install and use Python <br>
    - Understand the fundamental Python programming techniques and tools. <br>
    - Discover the history of Python and how it compares to other programming languages. <br>
    - Discuss its applications and the types of problems it can solve.e</p>
  <p><button class="project-button"><a href="https://www.eventbrite.com/" target="_blank">Ticket</a></button></p>
</div>
</div>

</div>

{% endblock %}