{% extends 'base.html' %}

{% block content %}

    <div class="testimonial-banner container-fluid">
        <div class="banner-header-box">
            <h1 class="banner-h1">Testimonials</h1>
        </div>
    </div>
   

    
<div class="container">
    {% for testimonial in testimonials %}

        {% if loop.index % 2 !=0 %}

            <div class="testimonial-box row">
                <div class="testimonial-img col-md-4 col-sm-12">
                    <img src="{{ testimonial.img }}">
                </div>
                <div class="testimonial-content col-md-8 col-sm-12">
                    <h2 class="testimonial-title">{{ testimonial.title }}</h2>
                    <p>{{ testimonial.content }}</p>
                    <p class="font-weight-bold text-right mr-5">{{ testimonial.author|capitalize }}</p>
                </div>
            </div>

        {% else %}

            <div class="testimonial-box  flex-col-reverse row">
                <div class="testimonial-content col-md-8 col-sm-12">
                    <h2 class="testimonial-title">{{ testimonial.title }}</h2>
                    <p>{{ testimonial.content }}</p>
                    <p class="font-weight-bold text-right mr-5">{{ testimonial.author|capitalize }}</p>
                </div>
                <div class="testimonial-img col-md-4 col-sm-12">
                    <img src="{{ testimonial.img }}">
                </div>
            </div>

        {% endif %}
    
    {% endfor %}

</div>

{% endblock %}