{% extends 'base.html' %}

{% block content %}

<div class="contact-banner">
        <div class="banner-header-box">
            <h1 class="banner-h1">Thank You!</h1>
        </div>
    </div>

<div class="container">
    <div class="contact-us-container">
        <div class="contact-box">
            <div class="left"></div>
                <div class="right">
                    <h2>Thank you for getting in touch!</h2>

                    <p>We appreciate you contacting us. One of our team will get back to you shortly!<br> Have a great day!</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


